In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('countries.csv')

In [3]:
df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.
Q: Create a data frame that counts the number countries in each continent?
Q: Create a data frame showing the total population of each continent.
Q: Count the number of countries for which the total_tests data is missing.
Q: Merge countries_df with covid_data_df on the location column.
Q: Add columns tests_per_million, cases_per_million and deaths_per_million into combined_df.
Q: Create a dataframe with 10 countires that have highest number of tests per million people.
Q: Create a dataframe with 10 countires that have highest number of positive cases per million people.
Q: Create a dataframe with 10 countires that have highest number of deaths cases per million people?
(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".
(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.

In [4]:
#Q: How many countries does the dataframe contain?

In [5]:
df['location'].nunique()

210

In [6]:
num_of_countries= df.shape

In [7]:
num_of_countries[0]

210

In [8]:
#Q: Retrieve a list of continents from the dataframe?

In [9]:
continents = df['continent'].unique()

In [10]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [11]:
#Q: What is the total population of all the countries listed in this dataset?

In [12]:
df.population.sum()

7757980095.0

In [13]:
#Q: (Optional) What is the overall life expectancy across in the world?

In [14]:
df.life_expectancy.mean()

73.52985507246377

In [15]:
tot_pop = df['population']
life_expectancy = df['life_expectancy']
total_life_expectancy = (tot_pop* life_expectancy).sum() / tot_pop.sum()

In [16]:
total_life_expectancy

72.72165193409664

In [17]:
#Q: Create a dataframe containing 10 countries with the highest population.

In [18]:
top10countries= df[['population','location']].sort_values(by=['population'], ascending=False).head(10)

In [19]:
top10countries

       population       location
41   1.439324e+09          China
90   1.380004e+09          India
199  3.310026e+08  United States
91   2.735236e+08      Indonesia
145  2.208923e+08       Pakistan
27   2.125594e+08         Brazil
141  2.061396e+08        Nigeria
15   1.646894e+08     Bangladesh
157  1.459345e+08         Russia
125  1.289328e+08         Mexico

In [20]:
#Q: Add a new column in countries_df to record the overall GDP per country (product of population & per capita GDP).

In [21]:
df['gdp'] = df['population']*df['gdp_per_capita']

In [22]:
df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

In [23]:
#Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.

In [24]:
countries_lowest_gdp = df[['population', 'location', 'gdp_per_capita', 'gdp']].sort_values(by=['population'], ascending=True)

In [25]:
countries_lowest_gdp=countries_lowest_gdp[countries_lowest_gdp.population> 100*1e6]

In [26]:
countries_lowest_gdp=countries_lowest_gdp.sort_values(by=['gdp_per_capita'] , ascending = True)

In [27]:
countries_lowest_gdp.head(10)

       population     location  gdp_per_capita           gdp
63   1.149636e+08     Ethiopia        1729.927  1.988786e+11
15   1.646894e+08   Bangladesh        3523.984  5.803628e+11
145  2.208923e+08     Pakistan        5034.708  1.112128e+12
141  2.061396e+08      Nigeria        5338.454  1.100467e+12
90   1.380004e+09        India        6426.674  8.868838e+12
151  1.095811e+08  Philippines        7599.188  8.327273e+11
58   1.023344e+08        Egypt       10550.206  1.079649e+12
91   2.735236e+08    Indonesia       11188.744  3.060386e+12
27   2.125594e+08       Brazil       14103.452  2.997821e+12
41   1.439324e+09        China       15308.712  2.203419e+13

In [28]:
#Q: Create a data frame that counts the number countries in each continent?

In [29]:
num_countries = df.groupby('continent')[['location']].nunique()

In [30]:
num_countries

               location
continent
Africa               55
Asia                 47
Europe               51
North America        36
Oceania               8
South America        13

In [31]:
#Q: Create a data frame showing the total population of each continent.

In [32]:
tot_pop_continents = df.groupby('continent')[['population']].sum()

In [33]:
tot_pop_continents

                 population
continent
Africa         1.339424e+09
Asia           4.607388e+09
Europe         7.485062e+08
North America  5.912425e+08
Oceania        4.095832e+07
South America  4.304611e+08

In [34]:
#Q:Count the number of countries for which the total_tests data is missing.

In [35]:
covid_data=pd.read_csv('covid-countries-data.csv')

In [36]:
covid_data['total_tests'].isna().sum()

122

In [37]:
merged_df= df.merge(covid_data, on='location')

In [38]:
merged_df['tests_per_million'] = merged_df['total_tests'] * 1e6 / merged_df['population']
merged_df['cases_per_million'] = merged_df['total_cases'] * 1e6 / merged_df['population']
merged_df['deaths_per_million'] = merged_df['total_deaths'] * 1e6 / merged_df['population']

In [39]:
#Q: Create a dataframe with 10 countires that have highest number of tests per million people.

In [40]:
top10 = merged_df[['tests_per_million','location']].sort_values('tests_per_million', ascending=False)

In [41]:
top10=top10.head(10)

In [42]:
#Q: Create a dataframe with 10 countires that have highest number of positive cases per million people.

In [43]:
top10poscases = merged_df[['cases_per_million','location']].sort_values('cases_per_million', ascending=False)

In [44]:
top10poscases=top10poscases.head(10)

In [45]:
#Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".

In [46]:
top10.location

197    United Arab Emirates
14                  Bahrain
115              Luxembourg
122                   Malta
53                  Denmark
96                   Israel
89                  Iceland
157                  Russia
199           United States
10                Australia
Name: location, dtype: object

In [47]:
top10poscases.location

155            Qatar
14           Bahrain
147           Panama
40             Chile
162       San Marino
9              Aruba
105           Kuwait
150             Peru
27            Brazil
199    United States
Name: location, dtype: object

In [48]:
set(top10['location']).intersection(set(top10poscases['location']))

{'Bahrain', 'United States'}

In [50]:
 #Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.

In [52]:
lowest_GDP= df.sort_values('gdp_per_capita', ascending= True)

In [53]:
lowest_GDP.head(20)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
38,Central African Republic,Africa,4829764.0,53.28,1.0,661.240,3.193633e+09
32,Burundi,Africa,11890781.0,61.58,0.8,702.225,8.350004e+09
111,Liberia,Africa,5057677.0,64.10,0.8,752.788,3.807359e+09
52,Democratic Republic of Congo,Africa,89561404.0,60.68,NaN,808.133,7.237753e+10
140,Niger,Africa,24206636.0,62.42,0.3,926.000,2.241534e+10
118,Malawi,Africa,19129955.0,64.26,1.3,1095.042,2.094810e+10
132,Mozambique,Africa,31255435.0,60.85,0.7,1136.103,3.550939e+10
168,Sierra Leone,Africa,7976985.0,54.70,NaN,1390.300,1.109040e+10
43,Comoros,Africa,869595.0,64.32,2.2,1413.890,1.229512e+09
117,Madagascar,Africa,27691019.0,67.04,0.2,1416.440,3.922267e+10
190,Togo,Africa,8278737.0,61.04,0.7,1429.813,1.183705e+10
207,Yemen,Asia,29825968.0,66.12,0.7,1479.147,4.411699e+10
61,Eritrea,Africa,3546427.0,66.32,0.7,1510.459,5.356733e+09
83,Guinea-Bissau,Africa,1967998.0,58.32,NaN,1548.675,3.047789e+09
71,Gambia,Africa,2416664.0,62.05,1.1,1561.767,3.774266e+09
176,South Sudan,Africa,11193729.0,57.85,NaN,1569.888,1.757290e+10
85,Haiti,North America,11402533.0,64.00,0.7,1653.173,1.885036e+10
195,Uganda,Africa,45741000.0,63.37,0.5,1697.707,7.765482e+10
31,Burkina Faso,Africa,20903278.0,61.58,0.4,1703.102,3.560041e+10
63,Ethiopia,Africa,114963583.0,66.60,0.3,1729.927,1.988786e+11

In [54]:
lowest_hospital_beds= df.sort_values('hospital_beds_per_thousand', ascending= True).head(20)

In [66]:
lowest_hospital_beds

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
121,Mali,Africa,2.025083e+07,59.31,0.10,2014.306,4.079138e+10
117,Madagascar,Africa,2.769102e+07,67.04,0.20,1416.440,3.922267e+10
82,Guinea,Africa,1.313279e+07,61.60,0.30,1998.926,2.625148e+10
63,Ethiopia,Africa,1.149636e+08,66.60,0.30,1729.927,1.988786e+11
135,Nepal,Asia,2.913681e+07,70.78,0.30,2442.804,7.117551e+10
140,Niger,Africa,2.420664e+07,62.42,0.30,926.000,2.241534e+10
31,Burkina Faso,Africa,2.090328e+07,61.58,0.40,1703.102,3.560041e+10
0,Afghanistan,Asia,3.892834e+07,64.83,0.50,1803.987,7.022622e+10
195,Uganda,Africa,4.574100e+07,63.37,0.50,1697.707,7.765482e+10
20,Benin,Africa,1.212320e+07,61.77,0.50,2064.236,2.502514e+10
90,India,Asia,1.380004e+09,69.66,0.53,6426.674,8.868838e+12
145,Pakistan,Asia,2.208923e+08,67.27,0.60,5034.708,1.112128e+12
80,Guatemala,North America,1.791557e+07,74.30,0.60,7423.808,1.330017e+11
190,Togo,Africa,8.278737e+06,61.04,0.70,1429.813,1.183705e+10
207,Yemen,Asia,2.982597e+07,66.12,0.70,1479.147,4.411699e+10
85,Haiti,North America,1.140253e+07,64.00,0.70,1653.173,1.885036e+10
86,Honduras,North America,9.904608e+06,75.27,0.70,4541.795,4.498470e+10
61,Eritrea,Africa,3.546427e+06,66.32,0.70,1510.459,5.356733e+09
187,Tanzania,Africa,5.973421e+07,65.46,0.70,2683.304,1.602851e+11
132,Mozambique,Africa,3.125544e+07,60.85,0.70,1136.103,3.550939e+10

In [71]:
final = set(lowest_GDP['location']).intersection(set(lowest_hospital_beds['location']))

In [72]:
filtered_GDP = lowest_GDP[lowest_GDP['population'] > 10e6]

filtered_hospital_beds = lowest_hospital_beds[lowest_hospital_beds['population'] > 10e6]


common_countries = set(filtered_GDP['location']).intersection(set(filtered_hospital_beds['location']))


num_common_countries = len(common_countries)

print("Number of countries appearing in both lists with populations higher than 10 million:", num_common_countries)

Number of countries appearing in both lists with populations higher than 10 million: 17